/* *{
    margin: 0;
    padding: 0;
} */
#topbar124{
    border: 2px solid black;
    border-radius: 20px;
    height: 90px;
    width: 1300px;
    background-color: black;
    color: white;
    display: inline-block;
}

#Itemblo1-Name{
    border: 2px solid black;
     border-radius: 20px;
     margin-left: 5px;
     margin-bottom: 5px;
    width: 1000px;
    height: 30px;
    /* display: inline-block; */
    color: white;
}
#Itemblo2-About{
    color: white;
    display: inline-block;
    margin-left: 5px;
    margin-top: 30px;
    border: 2px solid black;
     border-radius: 20px;
}
#Itemblo3-Pojects{
    border: 2px solid black;
     border-radius: 20px;
    margin-left: 30px;
}
#Itemblo4-Contact{
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 30px;
}
#list88{
    margin-left: 10px;
}
#send55{
    background-color: darkgray;
    color: black;
}

/* -------------------------------------portfolio-2-------------------------------- */
#Portfolio-container004{
    margin-left: 300px;
    border: 2px solid black;
    height: 250px;
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#Portfolio-project-2{
    display: flex;    
    height: 250px;
    width: 500px;
    background-color: aquamarine;
    justify-content: center;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
}
#Image-box66{
    border: 2px solid black;
    border-radius: 50%;
    height: 77px;
    width: 100px;
    background-image: url(kakashi-resume99.jpeg);
    background-size: contain;
    margin-bottom: 0px;
    /* display: flex;
    justify-content: center; */
}
#heading-name44{
 margin: 5px;   
}
#Paragraph-details88{
    margin: 5px;
}


/* ------------------------------------Grid-Portfolio-2----------------------------- */
#Grid-portfolio444{
    background-color: white;
    height: 1300px;
    width: 1300px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Grid-portfolio003{
    display: grid;
    height: 800px;
    width: 800px;
    background-color: aqua;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 200px 300px;
    border: 2px solid white;
}
#portfolio-items1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;

}
#Image-box67{
    border: 2px solid black;
    background-image: url(kakashi-resume99.jpeg);
    background-size: contain;
    height: 80px;
    width: 100px;
    border-radius: 50%;

}
#portfolio-items2{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: gainsboro;
    border: 10px solid white;
}
#portfolio-items3{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: gainsboro;
    border: 2px solid white;
}
#Project-box-under88{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#Project-1aa{
    height: 200px;
    width: 300px;
    border: 2px solid black;
}
#Project-2aa{
    height: 200px;
    width: 300px;
    border: 2px solid black;
}
#Project-3aa{
    height: 200px;
    width: 300px;
    border: 2px solid black;
}